.trouser-container {
  margin-top: 50px;
}
.trouser-container h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding: 30px 0;
}
.card-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0;
}
.card-container > div {
  flex: 1 0 20%;
  /* flex-wrap: nowrap; */
}

.tshirt-card {
  width: 280px;
}
.tshirt-card > div {
  max-width: 100%;
}
.card-title {
  margin-top: 20px;
}

.card-prices span {
  font-size: 14px;
}
.card-title {
  font-size: 18px;
}
.tshirt-section-footer button {
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 10px 25px;
}
.tshirt-section-footer {
  text-align: center;
}
@media only screen and (max-width: 998px) {
  
  .card-container {
    width: 100%;
    padding: 20px;
    /* flex-wrap: nowrap; */
  }

  .card-container > div {
    flex: 1 0 20%;
  }
  .trouser-container h1 {
    padding: 15px 0;
    font-size: 22px;
  }

  .card-title {
    font-size: 16px;
    text-align: center;
  }
  .trouser-container {
    margin-top: 0px;
  }
  .card-prices {
    flex-direction: column;
  }
  .card-prices span {
    font-size: 12px;
  }
  .tshirt-card {
    width: 220px;
  }
  .save-price {
    margin-top: 10px;
  }
  .card-container > div {
    flex-wrap: nowrap;
  }
  
  .trouser-container{
    margin-top: 40px;
  }
}

@media only screen and (max-width: 756px) {
  .tshirt-section-footer button{
    display: none;
  }
  .card-container {
    flex-wrap: nowrap;
  }

  .card-container > div {
    flex: 1 0 10%;
  }
  
  .trouser-container{
    margin-top: 0px;
  }
}
